<div class="content">
  <div class="card flex justify-content-center">
    <p-card header="ShawnYen" subheader="Skills" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img src="assets/images/myPicture.jpg">
      </ng-template>
      <div *ngIf="isLoading" style="text-align: center;">
        <h2>叫用伺服器中</h2>
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div *ngIf="!isLoading">
        <p>
          html <br>
          CSS <br>
          JavaScript <br>
          TypeScript <br>
          Angular <br>
          .NET Core <br>
          C# <br>
          MSSQL <br>
        </p>
      </div>
    </p-card>
  </div>

  <p-toast></p-toast>
</div>
